---
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Installing hashi apps...
  loop: '{{ hashi_apps | default([]) }}'
  loop_control:
    loop_var: hashi_app
  ansible.builtin.include_tasks: 'app-install-{{ hashi_installer }}.yml'
